.more{
    font-family: Arial, sans-serif;
	margin: 20px;
    font-size: larger;

}
.para{
    font-family: Arial, sans-serif;
	margin: 20px;
    font-size: larger;

}
.B{
    font-family: Arial, sans-serif;
	margin: 20px;
    font-size: larger;
 
}